<!DOCTYPE HTML>
<html lang="pl">

<head>
<meta charset="utf-8"/>
<title>Usługi remontowe | Mariusz Harbaczonek</title>
<meta name="description" content="Usługi remontowe, remony, wykończenia mieszczkań, wykończeniówka."/>
<meta name="keywords" content="Usługi remontowe, remony, wykończenia mieszczkań, wykończeniówka."/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="stylesheet" href="static/css/style.css" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans&amp;subset=latin-ext" rel="stylesheet">
<style>
#nav
{
float: left;
width: 120px;
min-height: 620px;
padding: 10px;
}
#content
{
float: left;
color: white;
width: 920px;
padding: 100px 20px 40px 20px;
}
#ad
{
float: left;
min-height: 620px;
width: 160px;
padding: 10px;
}
#footer
{
clear: both;
color: white;
text-align: center;
padding: 20px;
}

@font-face 
  font-family: 'fontello';
  src: url('../font/fontello.eot?17857946');
  src: url('../font/fontello.eot?17857946#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?17857946') format('woff2'),
       url('../font/fontello.woff?17857946') format('woff'),
       url('../font/fontello.ttf?17857946') format('truetype'),
       url('../font/fontello.svg?17857946#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17857946#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; font-size: 76px; } /* '' */
.icon-phone-outline:before { content: '\e801'; font-size: 20px; color: white;} /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; font-size: 76px; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */

a:link
{
   color: white;
   text-decoration: none;
}

a:visited
{
   color: white;
}

a:hover
{
   color: blue;
}

a:active
{
   color: red;
}

</style>
</head>

<body>
<div id="container"><!--{{{-->
<div id="firma-nazwa"><!--{{{-->
MAR-MIK
</div>
<div id="logo"><!--{{{-->
<b>Harbaczonek</b><br>
<small>Mariusz</small>
</div><!--}}}-->
<div class="rectangle"><!--{{{-->
	<a href="#firma" color="black">O FIRMIE</a>
</div>
<div class="rectangle">
	<a href="#oferta">OFERTA</a>
</div>
<div class="rectangle">
	<a href="#cennik">CENNIK</a>
</div>
<div class="rectangle">
	<a href="#galeria">GALERIA</a>
</div>
<div class="rectangle">
	<a href="#kontakt">KONTAKT</a>
</div>
<div style="clear:both;"></div>
<!--}}}-->
<div id="content"><!--{{{-->
	<div id="prezentacja" >USŁUGI REMONTOWO - BUDOWLANE</div>
	<div id="firma" class="tytul">O firmie</div><!--{{{-->
	<div class="text">MAR-MIK Mariusz Harbaczonek to firma remontowo budowlana z Gdańska założona w 2018 roku.
Miejsce działalności to głównie województwo pomorskie, szczególnie Gdańsk, Borkowo Łostowickie, Kowale, Pruszcz Gdański i okolice.
Wykonujemy kompleksowe wykończenie wnętrz, remonty, adaptacje pomieszczeń.
Nasza specjalność to:
	<ul>
<li>układanie glazury, terakoty, cegły</li>
<li>szpachlowanie oraz prace malarskie</li>
<li>montaż systemów suchej zabudowy („zabudowa g-k, sufity podwieszane itp.”</li>
<li>ścianki działowe</li>
<li>montaż paneli i desek podłogowych</li>
<li>montaż drzwi i okien</li>
<li>wznoszenie budynków mieszkalnych</li>
<li>oraz wszelkie prace na życzenie klienta</li>
</ul>
Podejmujemy się również skomplikowanym zleceniom, według projektu architekta wnętrz, lub pomysłu klienta.</div><!--}}}-->
  <div id="oferta" class="tytul">Oferta</div>                                                                                                <!--{{{-->
	<div class="text">
Wykonujemy:
<ul>
	<li>kompleksowe wykończenia wnętrz, remonty, adaptacje pomieszczeń,</li>
	<li>montaż systemów suchej zabudowy: okładziny, przedścianki, ścianki działowe i instalacyjne z płyt g-k, zabudowa poddaszy, sufity podwieszane (monolityczne, napinane, kasetonowe, ażurowe, dekoracyjne),</li> 
	<li>ścianki działowe murowane</li>
	<li>szpachlowanie (gładź, gipsowanie, tarcie bezpyłowe),</li>
	<li>szpachlowanie, tynki dekoracyjne,</li>
	<li>malowanie, malowanie dekoracyjne,</li>
	<li>tapetowanie,</li>
	<li>układanie glazury, gresu, kamienia naturalnego, mozaiki (łazienki, podłogi, tarasy, balkony itp.),</li>
	<li>prace montażowe (drzwi, okna itp.) </li>
	<li>biały montaż,</li>
	<li>prace podłogowe (panele laminowane, panele drewniane, parkiety gotowe, wykładziny, terakota, gres, kamień naturalny itp.)</li>
	<li>wznoszenie budynków mieszkalnych</li>
</ul>
<br>
</div><!--}}}-->
  <div id="cennik" class="tytul">Cennik</div>                                                                                                <!--{{{-->
	<div class="text">Umów się na bezpłatną wycenę! <br>
Zadzwoń 730-873-049 lub napisz na email m.harbaczonek@gmail.com <br>
Do każdego naszego zlecenia podchodzimy indywidualnie, dlatego zachęcamy do kontaktu z nami w celu umówienia spotkania, podczas którego dokonamy oględzin i sporządzimy wycenę pod kątem Państwa oczekiwań, co do danego zlecenia. <br>
Poniższy cennik służy przybliżonemu oszacowaniu kosztów. Nie stanowi oferty handlowej w rozumieniu prawa. Każda naprawa, remont ma swoją indywidualną specyfikę i nie wszystkie koszty są tutaj wycenione. <br>
<br>
<br>
<div class="tabela-tytul">Zabudowy gipsowo-kartonowe, obróbka ścian i sufitów</div><!--{{{-->
<table class="tabela">
	<thead>
		<tr>
			<th>L.p</th>
			<th>Nazwa usługi</th>
			<th>Liczona za</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1.</td>
		<td>podwójne malowanie z gruntowaniem</td>
		<td>m2</td>
		<td>10-12 zł</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>tapetowanie</td>
		<td>m2</td>
		<td>12-15 zł</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>montaż ścianek G-K z wygłuszeniem</td>
		<td>m2</td>
		<td>50-60 zł</td>
	</tr>
	<tr>
		<td>4.</td>
		<td>montaż płyt G-K na klej</td>
		<td>m2</td>
		<td>30-35 zł</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>montaż sufitów podwieszanych</td>
		<td>m2</td>
		<td>60-80 zł</td>
	</tr>
	<tr>
		<td>6.</td>
		<td>montaż sufitów podwieszanych wielopoziomowych</td>
		<td>m2</td>
		<td>80-100 zł</td>
	</tr>
	<tr>
		<td>7.</td>
		<td>montaż ścianek działowych z g-k</td>
		<td>m2</td>
		<td>53-60 zł</td>
	</tr>
	<tr>
		<td>8.</td>
		<td>szpachlowanie+szlifowanie ścian</td>
		<td>m2</td>
		<td>23-27 zł</td>
	</tr>
	<tr>
		<td>9.</td>
		<td><szpachlowanie+szlifowanie sufitów</td>
		<td>m2</td>
		<td>25-30 zł</td>
	</tr>
	<tr>
		<td>10.</td>
		<td>wklejanie taśmy+szpachlowanie+szlifowanie łączeń płyt G-K</td>
		<td>mb</td>
		<td>10 zł</td>
	</tr>
	<tr>
		<td>11.</td>
		<td>Usuwanie tapet i starych powłok malarskich</td>
		<td>m2</td>
		<td>7-9 zł</td>
	</tr>
	<tr>
		<td>12.</td>
		<td>Naprawa pęknięć i ubytków ściennych</td>
		<td>m2</td>
		<td>10-12 zł</td>
	</tr>
	<tr>
		<td>13.</td>
		<td>Prostowanie narożników profilem aluminiowych</td>
		<td>mb</td>
		<td>16 zł</td>
	</tr>
	<tr>
		<td>14.</td>
		<td>inne</td>
		<td>mb/m2</td>
		<td>do ustalenia</td>
	</tr>
	</tbody>
</table>
 <br><!--}}}-->
 <div class="tabela-tytul">Glazura i terakota</div><!--{{{-->
<table class="tabela">
	<thead>
		<tr>
			<th>L.p</th>
			<th>Nazwa usługi</th>
			<th>Liczona za</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1.</td>
		<td>układanie glazury (kafelkowanie ścian+fugowanie)</td>
		<td>m2</td>
		<td>55-65 zł</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>układanie terakoty (kafelkowanie podłóg+fugowanie)</td>
		<td>m2</td>
		<td>55-70 zł</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>szlifowanie krawędzi płytek (kąt 45 st)</td>
		<td>mb</td>
		<td>30 zł</td>
	</tr>
	<tr>
		<td>4.</td>
		<td>układanie mozaiki na powierzchniach prostych+fugowanie</td>
		<td>m2</td>
		<td>95-110 zł</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>układanie mozaiki na powierzchniach łukowych</td>
		<td>m2</td>
		<td>115-125 zł</td>
	</tr>
	<tr>
		<td>6.</td>
		<td>wklejanie dekorów </td>
		<td>mb</td>
		<td>10-20 zł</td>
	</tr>
	<tr>
		<td>7.</td>
		<td>wykonanie cokołów</td>
		<td>mb</td>
		<td>12-15 zł</td>
	</tr>
	<tr>
		<td>8.</td>
		<td>skucie glazury/terakoty+uprzątnięcie</td>
		<td>m2</td>
		<td>25-35 zł</td>
	</tr>
	<tr>
		<td>9.</td>
		<td>wiercenie otworów w płytkach ściennych</td>
		<td>szt.</td>
		<td>11 zł</td>
	</tr>
	</tbody>
</table>
<br><!--}}}-->
<div class="tabela-tytul">Prace instalacyjne - hydraulicznei</div><!--{{{-->
<table class="tabela">
	<thead>
		<tr>
			<th>L.p</th>
			<th>Nazwa usługi</th>
			<th>Liczona za</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1.</td>
		<td>przeniesienie przyłącza wod-kan (wc lub umywalka lub wanna)</td>
		<td>punkt</td>
		<td>200-250 zł</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>montaż wanny</td>
		<td>szt.</td>
		<td>150 zł</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>zabudowa wanny</td>
		<td>szt.</td>
		<td>250 zł</td>
	</tr>
	<tr>
		<td>4.</td>
		<td>montaż umywalki+baterii+syfonu</td>
		<td>szt.</td>
		<td>150 zł</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>montaż miski (sedes lub bidet)</td>
		<td>szt.</td>
		<td>100 zł</td>
	</tr>
	<tr>
		<td>6.</td>
		<td>montaż stelażu podtynkowego z obudową</td>
		<td>szt.</td>
		<td>300 zł</td>
	</tr>
	<tr>
		<td>7.</td>
		<td>montaż kabiny prysznicowej </td>
		<td>szt.</td>
		<td>150 zł</td>
	</tr>
	<tr>
		<td>8.</td>
		<td>montaż brodzika z obudową </td>
		<td>szt.</td>
		<td>250 zł</td>
	</tr>
	<tr>
		<td>9.</td>
		<td>montaż baterii umywalkowej</td>
		<td>szt.</td>
		<td>50 zł</td>
	</tr>
	<tr>
		<td>10.</td>
		<td>montaż baterii wannowej natynkowej</td>
		<td>szt.</td>
		<td>80 zł</td>
	</tr>
	<tr>
		<td>11.</td>
		<td>montaż baterii prysznicowej podtynkowej</td>
		<td>szt.</td>
		<td>200 zł</td>
	</tr>
	<tr>
		<td>12.</td>
		<td>montaż baterii prysznicowej natynkowej</td>
		<td>szt.</td>
		<td>100 zł</td>
	</tr>
	<tr>
		<td>13.</td>
		<td>przeniesienie grzejnika (do 1 mb)</td>
		<td>szt.</td>
		<td>200 zł</td>
	</tr>
	<tr>
		<td>14.</td>
		<td>przeniesienie grzejnika (powyżej 1 mb)</td>
		<td>szt.</td>
		<td>do ustalenia</td>
	</tr>
	<tr>
		<td>15.</td>
		<td>inne</td>
		<td>mb/m2/szt</td>
		<td>do ustalenia</td>
	</tr>
	</tbody>
</table>
<br><!--}}}-->
<div class="tabela-tytul">Prace instalacyjne - elektryczne</div> <!--{{{-->
<table class="tabela">
	<thead>
		<tr>
			<th>L.p</th>
			<th>Nazwa usługi</th>
			<th>Liczona za</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1.</td>
		<td>wykonanie punktu elektrycznego (z obróbką)</td>
		<td>punkt</td>
		<td>40-100 zł</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>punkt gniazda TV/telefonicznego/internetowego</td>
		<td>punkt</td>
		<td>50 zł</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>przeniesienie gniazda siłowego </td>
		<td>szt.</td>
		<td>100 zł</td>
	</tr>
	<tr>
		<td>4.</td>
		<td>montaż taśmy led</td>
		<td>mb</td>
		<td>15 zł</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>montaż wentylatora </td>
		<td>szt.</td>
		<td>60 zł</td>
	</tr>
	<tr>
		<td>6.</td>
		<td>inne</td>
		<td>mb/m2/szt</td>
		<td>do ustalenia</td>
	</tr>
	</tbody>
</table>
<br><!--}}}-->
<div class="tabela-tytul">Prace podłogowe</div><!--{{{-->
<table class="tabela">
	<thead>
		<tr>
			<th>L.p</th>
			<th>Nazwa usługi</th>
			<th>Liczona za</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1.</td>
		<td>wylewka podłogi</td>
		<td>m2</td>
		<td>25 zł</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>układanie paneli podłogowych</td>
		<td>m2</td>
		<td>18-20 zł</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>układanie parkietu</td>
		<td>m2</td>
		<td>48-60 zł</td>
	</tr>
	<tr>
		<td>4.</td>
		<td>montaż cokolików</td>
		<td>mb</td>
		<td>12 zł</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>montaż progów</td>
		<td>szt.</td>
		<td>25-35 zł</td>
	</tr>
	<tr>
		<td>6.</td>
		<td>montaż listwy przypodłogowej</td>
		<td>mb</td>
		<td>11-17 zł</td>
	</tr>
	<tr>
		<td>7.</td>
		<td>wykładzina bez kleju</td>
		<td>m2</td>
		<td>18-26 zł</td>
	</tr>
	<tr>
		<td>8.</td>
		<td>wykładzina na klej</td>
		<td>m2</td>
		<td>27-28 zł</td>
	</tr>
	<tr>
		<td>9.</td>
		<td>inne</td>
		<td>mb/m2/szt</td>
		<td>do ustalenia</td>
	</tr>
	</tbody>
</table>
<br><!--}}}-->
<div class="tabela-tytul">Inne prace wykończeniowe</div><!--{{{-->
<table class="tabela">
	<thead>
		<tr>
			<th>L.p</th>
			<th>Nazwa usługi</th>
			<th>Liczona za</th>
			<th>Cena</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1.</td>
		<td>lustro z montażem</td>
		<td>m2</td>
		<td>400 zł</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>montaż ogrzewania podłogowego</td>
		<td>m2</td>
		<td>do ustalenia</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>demontaż starego i montaż nowego grzejnika</td>
		<td>szt.</td>
		<td>70 zł</td>
	</tr>
	<tr>
		<td>4.</td>
		<td>drobne prace murarsko-tynkarskie</td>
		<td>szt/mb/m2</td>
		<td>do ustalenia</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>motaż drzwi wewnętrznych</td>
		<td>szt.</td>
		<td>200 zł</td>
	</tr>
	<tr>
		<td>5.</td>
		<td>motaż drzwi zewnętrznych</td>
		<td>szt.</td>
		<td>350 zł</td>
	</tr>
	<tr>
		<td>6.</td>
		<td>montaż parapetów wewnętrznych</td>
		<td>szt.</td>
		<td>50-70 zł</td>
	</tr>
	<tr>
		<td>7.</td>
		<td>demontaż starych drzwi</td>
		<td>szt.</td>
		<td>60-80 zł</td>
	</tr>
	<tr>
		<td>8.</td>
		<td>demontaż  starych parapetów</td>
		<td>szt.</td>
		<td>12-15 zł</td>
	</tr>
	<tr>
		<td>9.</td>
		<td>demontaż ściany z bloczków</td>
		<td>m2</td>
		<td>25 zł</td>
	</tr>
	<tr>
		<td>10.</td>
		<td>usuwanie gruzu</td>
		<td>m2</td>
		<td>do ustalenia</td>
	</tr>
	<tr>
		<td>11.</td>
		<td>inne</td>
		<td>szt/mb/m2</td>
		<td>do ustalenia</td>
	</tr>
	</tbody>
</table><!--}}}-->
Ceny mogą zależeć m.in. od wielkości zlecenia, zastosowanych technologii, oczekiwanych terminów. 
Podane ceny są cenami brutto za robociznę bez materiałów.</div>
<!--}}}-->
	<div id="galeria" class="tytul">Galeria</div>                                                                                                <!--{{{-->
<div class="tabela-tytul">REMONT ŁAZIENEK  UL. PADEREWSKIEGO</div>
	<img class="image" src="static/images/1/1.jpg"> 
	<img class="image" src="static/images/1/2.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/3.jpg"> 
	<img class="image" src="static/images/1/4.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/5.jpg"> 
	<img class="image" src="static/images/1/6.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/7.jpg"> 
	<img class="image" src="static/images/1/8.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/9.jpg"> 
	<img class="image" src="static/images/1/10.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/11.jpg"> 
	<img class="image" src="static/images/1/12.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/13.jpg"> 
	<img class="image" src="static/images/1/14.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/15.jpg"> 
	<img class="image" src="static/images/1/16.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/17.jpg"> 
	<img class="image" src="static/images/1/18.jpg"> 
<div style="clear:both;"></div>
	<img class="image" src="static/images/1/19.jpg"> 
	<img class="image" src="static/images/1/20.jpg"> 
<div class="tabela-tytul">REMONT PRUSZCZ GDAŃŚKI</div>
<div class="tabela-tytul">REMONTY WRZESZCZ I ZASPA ZD. PRZED I PO REALIZACJI</div>
<div class="tabela-tytul">WYKOŃCZENIE MIESZKANIA MORENA</div>
<!--}}}-->
  <div id="kontakt" class="tytul">Kontakt</div>                                                                                               <!--{{{-->
	<div class="kontakt"><b>MAR-MIK Mariusz Harbaczonek</b><br> 
	Usługi Remontowo Budowlane<br>
	ul.Skarpowa 75/1<br>
	80-145 Gdańsk<br><br>
	NIP 7431499143, REGON 380122734<br><br><br>
	TEL. 730 - 873 - 049<br>
	email: m.harbaczonek@gmail.com<br></div>
<!--}}}-->
</div>
<!--}}}-->
<div id="footer"><!--{{{-->
</div>
<!--}}}-->
<!--}}}-->
</body>

</html>
